html {
    height: 100%;
    font-family: Lato, sans-serif;
    overflow: auto;
}

body {
    height: 100%;
}

.pageContent {
    margin-left: 4%;
    margin-right: 4%;
    margin-bottom: 4%;
    overflow: auto;
}

img {
    max-height: 85%;
}

p {
    font-size: 20px;
    font-size: 3vh;
}

h1 {
    font-size: 75px;
    font-size: 10vh;
    margin-bottom: 0px;
}

h3 {
    font-size: 40px;
    font-size: 6vh;
    margin-bottom: 0px;
}

.header {
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    margin-left: 3%;
    margin-right: 3%;
}

.top {
    min-height: 45%;
}

.bottom {
    min-height: 25%;
}

.wrap {
    display: flex;
    justify-content: space-between;

}

#name {
    width: 30%;
    font-size: 35px;
    font-weight: bold;
    color: #3FAFCB;
}

#menu {
    width: 55%;
}

#socials {
    width: 15%;
}

#touchText {
    margin-right: 20px;
}

#contactInfo {
    font-weight: bold;
    font-size: 1.5vw;
    margin-left: 20px;
    width: 35%;
}

/* #brainImg {
    height: 90%;
} */