html {
    height: 100%;
    font-family: Lato, sans-serif;
    overflow-y: auto;
    overflow-x: hidden;
    margin-top: 5px;
}

body {
    height: 100%;
    margin: auto;
}

.pageContent {
    margin-left: 4%;
    margin-right: 4%;
    margin-bottom: 1%;
    overflow: auto;
}

img {
    max-height: 85%;
}

p {
    font-size: 20px;
    font-size: 3vh;
    color: #696773;
}

h1 {
    font-size: 75px;
    font-size: 10vh;
    margin-bottom: 0px;
    margin-top: 0px;
}

h3 {
    font-size: 30px;
    font-size: 4vh;
    margin-bottom: 0px;
    margin-top: 0px;
}

h4 {
    font-weight: lighter;
    font-size: 4vh;
    font-size: 30px;
    margin-top: 1%;
    text-align: right;
    margin-bottom: 1%;
}

pre {
    margin: inherit;
    font: inherit;
}

.header {
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 2%;
}

#buttons {
    width: 65%;
    position: relative;
    vertical-align: middle;
}

.bottom {
    margin-bottom: 30px;
}

.wrap {
    display: flex;
}

.col {
    flex-direction: column;
}

#name {
    width: 24%;
    max-height: 24%;
    font-size: 3vw;
    font-weight: bold;
    color: #3FAFCB;
    position: relative;
    padding: 10px 0;
}

#socials {
    width: 15%;
    display: flex;
    position: relative;
    margin-right: 1%;
}

#socialsWrap {
    width: 100%;
    height: 60%;
    position: absolute;
    bottom: 15%;
    /* position: relative; */
    vertical-align: middle;
}

#touchText {
    margin-right: 20px;
}

#contactInfo {
    font-weight: bold;
    font-size: 1.5vw;
    margin-left: 30px;
    width: 35%;
}

#headerImg {
    max-height: 80%;
    margin-right: 1%;
}

.menu {
    position: absolute;
    top: 45%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: right;
}

button {
    font-family: Lato, sans-serif;
    font-size: 1.5vw;
    margin-right: 30px;
    background: none;
    border-width: 0px;
    color: #000000;
    display: inline-block;
    
}

button:hover {
    color: #3FAFCB;
}


.icon {
    background-repeat: no-repeat;
    background-color: #ffffff;
    height: 60%;
    width: 20%;
    background-size:60%;
    display: inline-block;
    margin-top: 3%;
}

#twitter {
    background-image: url("./imgs/header/graytwitter.png");
    
}
#twitter:hover {
    background-image: url("./imgs/header/orangetwitter.png");
}

#mail {
    background-image: url("./imgs/header/graymail.png"); 
}

#mail:hover {
    background-image: url("./imgs/header/orangemail.png"); 
}

#linkedIn {
    background-image: url("./imgs/header/grayli.png");
    
}
#linkedIn:hover {
    background-image: url("./imgs/header/orangeli.png");
}

#git {
    background-image: url("./imgs/header/graygit.png"); 
}

#git:hover {
    background-image: url("./imgs/header/orangegit.png"); 
}

.headerLink {
    color: inherit;
    text-decoration: inherit;
    margin-bottom: 0px;
}

.currentPage {
    color: #3FAFCB
}

#end {
    margin-bottom: 0px;
}

.top {
    margin-top: 2%;
}

.attr {
    margin-bottom: 10px;
    font-size: 2.3vh;
    font-size: 14px;
}

.abst {
    font-size: 2vh;
    font-size: 12px;
}

.pubImg {
    width: 30vw;
    /* min-height: 20vh; */
}

.pubPic {
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 100%;
    background-size: contain;
    display: inline-block;
}

#AAimg {
    background-image: url("./imgs/pub/AAimg.png");
}

#PAonCogImg {
    background-image: url("./imgs/pub/PAonCog.png");
}

#HLSimg {
    background-image: url("./imgs/header/brain.png");
    /* background-size: 80% 85%; */
}

#hydrationImg {
    background-image: url("./imgs/header/brain.png");
    /* background-size: 80% 105%; */
}

#inhibitoryImg {
    background-image: url("./imgs/pub/inhibition.png");
    /* background-size: 100% 75%; */
}

.publication {
    width: 100%;
    margin-bottom: 1%;
}

.publications {
    width: 100%;
}

.pubText {
    width: 60vw;
    margin-right: 4%;
}

.doi {
    color: inherit;
}

#galleryGrid {
    margin-top: 2%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.galleryRow {
    width: 100%;
    display: flex;
    margin-bottom: 5%;
}

.galleryCont {
    width: 32%;
    margin-left: 1.66%;
    margin-right: 1.66%;
}

.galleryImg {
    width: 100%;
    min-height: 40vh;  
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% auto;
    display: inline-block;
    object-fit: cover;
    margin-bottom: 4%;
}

.galleryText {
    font-weight: bold;
    font-size: 3vh;
    margin-bottom: 2%;
}

.galleryArea {
    font-size: 2.5vh;
}

.leftImg {
    margin-left: 0px !important;
}

.rightImg {
    margin-right: 0px !important;
}

#pres1 {
    background-image: url("./imgs/pres/pres1.png");
}

#pres2 {
    background-image: url("./imgs/pres/pres2.png");
}

#pres3 {
    background-image: url("./imgs/pres/pres3.png");
}

#pres4 {
    background-image: url("./imgs/pres/pres4.png");
}

#pres5 {
    background-image: url("./imgs/pres/pres5.png");
}

#pres6 {
    background-image: url("./imgs/pres/pres6.png");
}

#abtBanner {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 3vh;
}

#nicoleCircle {
    height: 25vh;
    margin-right: 5vh;
}

#artBody {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 16px !important;
}

#brainImg{
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center
}

#artGraphs {
    width: 60%;
}

#abtPics {
    display: flex;
    flex-direction: row;
    height: 30vh;
    overflow-x: hidden;
    justify-content: space-between;
    margin-top: 2%;
}

.footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 12px !important;
    margin-bottom: 3%;
}

.heart {
    background-repeat: no-repeat;
    background-size: 100% auto;
    object-fit: cover;
    background-image: url("./imgs/heart.png");
    width: 30px;
    height: 30px;
}

.heart:hover {
    background-image: url("./imgs/heartlogo.gif");
}
